---
import { getLangFromUrl } from "../i18n/utils";
import Feature from "./Feature.astro";

const features = await Astro.glob('../content/feature/feature*.md');

const lang = getLangFromUrl(Astro.url);

const filteredFeatures = features.map(f => f.frontmatter[lang]).sort((a,b) => a.sortOrder - b.sortOrder);
---
<div class="flex mx-auto sm:w-2/3 w-full flex-col sm:flex-row mt-20">
    {filteredFeatures && filteredFeatures.map((f, i) => (
      <Feature title={f.title} description={f.description} icon={f.icon} index={i} />  
    ))}
</div>