---
import { getLangFromUrl } from "../i18n/utils";
import * as teasers from "../content/teaser/teaser.md";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
const teaser = teasers.frontmatter[lang];
---
<div class="absolute max-w-[100vw] w-full left-0 -z-10 min-h-[200px] max-h-[500px]">
    <div class="absolute ">
    <img src="/hero-ellipse-1.svg" class="w-[100vw] opacity-60 max-h-[80vh]" aria-label="background ellipse 1" />
</div>
    <img src="/hero-ellipse-2.svg" class="w-full absolute opacity-60 " aria-label="background ellipse 2" />
</div>
<div class="flex flex-col w-2/3 mx-auto mt-10 items-center">
    <img
        class="max-w-[685px]"
        src="/traslocorsino.svg"
        alt="traslocorsino logo"
    />
    <p class="italic">{teaser.teaser}</p>
    <a href={getRelativeLocaleUrl(lang,'book')} class="bg-white px-7 py-2 border-2 border-primary-darker rounded-sm mt-3 hover:scale-105 hover:bg-primary-dark hover:text-primary-lightest transition duration-200 ">{teaser.ctaText}</a>
</div>
