---
import Features from "./Features.astro";
import Fleet from "./Fleet.astro";
import Hero from "./Hero.astro";
import Process from "./Process.astro";
---

<div class="mx-auto md:w-full lg:w-2/3 flex flex-col">
    <Hero />
    <Features />
    <Process />
    <Fleet />
</div>
