---
import { languages } from '../../i18n/ui';
import { useTranslations } from '../../i18n/utils';
import Layout from '../../layouts/PageLayout.astro';

export function getStaticPaths () {
    return languages.map(l => { return { params: { lang: l.key }}});
}


const { lang } = Astro.params; 
// const t = useTranslations(lang);
---
<Layout>
    <div id="calendly-embed" style="min-width:320px;height:700px;"></div>

    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    
    <script>
    Calendly.initInlineWidget({
    url: 'https://calendly.com/info-l74',
    parentElement: document.getElementById('calendly-embed')
    });
    </script>
    
    <!-- Calendly inline widget end -->
    
</Layout>