---
import { Icon } from 'astro-icon/components'

interface Props {
    title: string;
    description: string;
    icon: string;
    index: number;
}
const { title, description, icon, index } = Astro.props;
---
<div class=`flex flex-col justify-center mx-auto items-center sm:min-h-[330px] min-h-[250px] ${index % 2 ? 'sm:justify-end' : 'sm:justify-start'}`>
    <div class="sm:w-[116px] sm:h-[116px] w-[87px] h-[87px] bg-primary-light border border-primary rounded-full border-opacity-45 flex">
        <Icon name={icon} class={'mx-auto sm:w-[35px] sm:h-[35px] w-[26px] h-[26px] self-center'}/>
    </div>
    <h3 class="font-bold uppercase">{title}</h3>
    <p class="text-center text-gray-500">{description}</p>
</div>