---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const {
    contact = {
        name: t("footer.name"),
        address: t("footer.address"),
        town: t("footer.town"),
    },
} = Astro.props;
---
<div class="w-full bg-primary text-white ">
    <div class="flex py-6 w-2/3 mx-auto sm:flex-row flex-col">
        <div class="flex-col">
            <img
                class="w-[120px] h-[80px]"
                src="/traslocorsino-white.svg"
                alt="traslocorsino logo"
            />
            <div class="font-light">
                <p>{contact.name}</p>
                <p>{contact.address}</p>
                <p>{contact.town}</p>
            </div>
        </div>
        <div class="sm:ml-auto mt-auto">
            <p class="font-light mb-2 sm:text-center mt-7 sm:mt-0">Developed By</p>
            <a href="https://socodia.com" aria-label="producer link">
                <img src="/socodia.svg" alt="producer logo" width="150" />
            </a>
        </div>
    </div>
</div>
